.login-section {
  width: 50%;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  &-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    & .inputs {
      margin: 10px 0;
    }

    &-card {
      width: 30%;
  
      &-title {
        font-weight: bold;
        color: #000;
      }
    }
  }
}