.standings-section {
  .standings-table {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width:812px) {
      display: block;

      .eastern {
        margin-bottom: 20px;
      }
    }

    .conference-img {
      img {
        width: 50px;
      }
    }

    .nameCell {
      img {
        width: 50px;
      }

      span {
        align-self: center;
      }

    }
  }
}