.vote-section {
  .teams-count {
    text-align: center;
    font-weight: bold;
    
    @media screen and (max-width:812px) {
      display: none;
    }

    &-mobile {
      display: none;

      @media screen and (max-width:812px) {
        display: block;
        position: fixed;
        top: 35%;
        right: -10px;
        transform: translateY(-35%);
        padding: 10px 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #000000;
        z-index: 1000;
      }

      &.eastern {
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        background-color: #c41230;
        color: #ffffff;
      }

      &.western {
        top: 65%;
        right: -5px;
        transform: translateY(-65%);
        background-color: #003e7e;
        color: #ffffff;
      }
    }
  }

  &-teams {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width:812px) {
      display: block;
    }

    .conference-section {
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      position: relative;
      justify-content: space-evenly;

      @media screen and (max-width:812px) {
        width: 100%;
        display: block;
        margin-top: 25px;
        position: relative;
        margin-top: 50px;
      }

      header {
        height: 75px;
        max-height: 100px;
        width: 100%;
        display: flex;
        position: relative;

        h3 {
          margin-left: 225px;
          color: #fff;
          align-self: center;

          @media screen and (max-width:812px) {
            display: none;
          }
        }
      }

      &.eastern {
        border-left: 5px solid #c41230;
        border-right: 5px solid #c41230;
        border-bottom: 5px solid #c41230;

        header {
          background-color: #c41230;
        }
      }

      &.western {
        border-left: 5px solid #003e7e;
        border-right: 5px solid #003e7e;
        border-bottom: 5px solid #003e7e;

        header {
          background-color: #003e7e;
        }
      }

      &-logo {
        width: 200px;
        position: absolute;
        top: -50%;
      }

      &-teams {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        @media screen and (max-width:812px) {
          flex-direction: row;
        }
  
        img {
          width: 100px;
          height: 100px;
          align-self: center;
        }
      }
    }
  }

  .submit-vote-mobile {
    display: none;

    @media screen and (max-width:812px) {
      display: block;
      margin-top: 20px;
    }
  }
}