html, body {
  margin: 0;
  width: 100%;
}

.globalLayout {
  margin: 50px 20px;
}

.backdrop-component {
  z-index: 10000 !important;
  color: #fff;
}

@import './login';
@import './vote';
@import './standings';
